* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6, p, a, input, textarea{
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

header{
    background-color: gold;
}


.logo-imagen{
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;

}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: gold;
}
aside{
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1,3rem;

}
.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.boton-menu{
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}
.boton-menu.active{
    background-color: rgb(255, 255, 255);
    color: #840dd4;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}
/*
.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 white;
}
.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 white;

}
*/
.bi bi-hand-index-thumb-fill,
.bi bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}
.texto-footer{
    color: gray;
    font-size: .85rem;
}
main {
    background-color: #eeeeeeff;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}
.titulo-principal{
    color: gold;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
    background-color: gold;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto-titulo{
    font-size: 1rem;
}
.producto-agregar{
    border: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px;
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover{
    background-color: rgb(174, 65, 228);
    color: white;
}
/**carrito**/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1,5rem;
}
.carrito-vacio{
    color: blueviolet;
    display: none;
}
carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 217, 0, 0.423);
    color: rgb(0, 0, 0);
    padding: 0,5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto small{
    font-size: 0,75rem;

}
.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: gold;
    cursor: pointer;
}
.carrito-acciones{
    display: flex;
    justify-content: space-between;

}
.carritos-acciones-vaciar{
    border: 0;
    background-color: rgba(159, 159, 159, 0.804);
    padding: 1,5rem;
    border-radius: 1rem;
    color: blueviolet;
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha{
    display: flex;
    
}
.carrito-acciones-total{
    display: flex;
    background-color: rgb(159, 159, 159, 0.804);
    padding: 1,5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: blueviolet;
    text-transform: uppercase;
}
.carritos-aciones-comprar{
    border: 0;
    background-color: rgb(159, 159, 159, 0.804);
    padding: 1,5rem;
    color: blueviolet;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.close-menu {
    
    display: none;
}

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: gold;
        left: 0;
        top: 0;
        width: 70vw;
        max-width: 300px;
        height: 100vh;
        box-shadow: 2px 0 10px rgba(0,0,0,0.2);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        padding-right: 0;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: #840dd4;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color:  #840dd4;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: .1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*boton menu*/
.open-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .open-menu {
        display: block;
    }
}